*.class
\target
qualitypatternmodel/temp/templates/savefile.txt
qualitypatternmodel/temp/templates/generic-patterns/Appdup3_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/Card_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/CardImpliesMandAtt_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/Comp_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/CompVal_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/CompValAny_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/Contains_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/DupVal_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/Func_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/InvalidLink_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/LocalUnique_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/MandAtt_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/Match_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/StringLength_generic.patternstructure
qualitypatternmodel/temp/templates/generic-patterns/Unique_generic.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/Card_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/CompSet_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/Contains_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/InvalidLink_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/MandAtt_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/Match_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/StringLength_xml.patternstructure
qualitypatternmodel/temp/templates/xml/abstract-patterns/Unique_xml.patternstructure
