<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="parameters"
            class="qualitypatternmodel.parameters.ParametersPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="operators"
            class="qualitypatternmodel.operators.OperatorsPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="graphstructure"
            class="qualitypatternmodel.graphstructure.GraphstructurePackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="patternstructure"
            class="qualitypatternmodel.patternstructure.PatternstructurePackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="adaptionxml"
            class="qualitypatternmodel.adaptionxml.AdaptionxmlPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="execution"
            class="qualitypatternmodel.execution.ExecutionPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="textrepresentation"
            class="qualitypatternmodel.textrepresentation.TextrepresentationPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="adaptionrdf"
            class="qualitypatternmodel.adaptionrdf.AdaptionrdfPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qualitypatternmodel -->
      <package
            uri="adaptionneo4j"
            class="qualitypatternmodel.adaptionneo4j.Adaptionneo4jPackage"
            genModel="model/qualitypatternmodel.genmodel"/>
   </extension>

</plugin>
