<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="patterncreation.project.design.Activator"
               id="patterncreation.project.design"
	       name="patterncreation">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="patterncreation.project.design.ViewExecutionPart1"
           id="patterncreation.project.design.viewExecution"
           name="Pattern execution"
           restorable="true">
     </view>
  </extension>
</plugin>
