<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.parameters.presentation.ParametersModelWizardID"
            name="%_UI_ParametersModelWizard_label"
            class="qualitypatternmodel.parameters.presentation.ParametersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ParametersModelFile.gif">
         <description>%_UI_ParametersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.parameters.presentation.ParametersEditorID"
            name="%_UI_ParametersEditor_label"
            icon="icons/full/obj16/ParametersModelFile.gif"
            extensions="parameters"
            class="qualitypatternmodel.parameters.presentation.ParametersEditor"
            contributorClass="qualitypatternmodel.parameters.presentation.ParametersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.operators.presentation.OperatorsModelWizardID"
            name="%_UI_OperatorsModelWizard_label"
            class="qualitypatternmodel.operators.presentation.OperatorsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OperatorsModelFile.gif">
         <description>%_UI_OperatorsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.operators.presentation.OperatorsEditorID"
            name="%_UI_OperatorsEditor_label"
            icon="icons/full/obj16/OperatorsModelFile.gif"
            extensions="operators"
            class="qualitypatternmodel.operators.presentation.OperatorsEditor"
            contributorClass="qualitypatternmodel.operators.presentation.OperatorsActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.graphstructure.presentation.GraphstructureModelWizardID"
            name="%_UI_GraphstructureModelWizard_label"
            class="qualitypatternmodel.graphstructure.presentation.GraphstructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GraphstructureModelFile.gif">
         <description>%_UI_GraphstructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.graphstructure.presentation.GraphstructureEditorID"
            name="%_UI_GraphstructureEditor_label"
            icon="icons/full/obj16/GraphstructureModelFile.gif"
            extensions="graphstructure"
            class="qualitypatternmodel.graphstructure.presentation.GraphstructureEditor"
            contributorClass="qualitypatternmodel.graphstructure.presentation.GraphstructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.patternstructure.presentation.PatternstructureModelWizardID"
            name="%_UI_PatternstructureModelWizard_label"
            class="qualitypatternmodel.patternstructure.presentation.PatternstructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PatternstructureModelFile.gif">
         <description>%_UI_PatternstructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.patternstructure.presentation.PatternstructureEditorID"
            name="%_UI_PatternstructureEditor_label"
            icon="icons/full/obj16/PatternstructureModelFile.gif"
            extensions="patternstructure"
            class="qualitypatternmodel.patternstructure.presentation.PatternstructureEditor"
            contributorClass="qualitypatternmodel.patternstructure.presentation.PatternstructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlModelWizardID"
            name="%_UI_AdaptionxmlModelWizard_label"
            class="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptionxmlModelFile.gif">
         <description>%_UI_AdaptionxmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlEditorID"
            name="%_UI_AdaptionxmlEditor_label"
            icon="icons/full/obj16/AdaptionxmlModelFile.gif"
            extensions="adaptionxml"
            class="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlEditor"
            contributorClass="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.execution.presentation.ExecutionModelWizardID"
            name="%_UI_ExecutionModelWizard_label"
            class="qualitypatternmodel.execution.presentation.ExecutionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExecutionModelFile.gif">
         <description>%_UI_ExecutionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.execution.presentation.ExecutionEditorID"
            name="%_UI_ExecutionEditor_label"
            icon="icons/full/obj16/ExecutionModelFile.gif"
            extensions="execution"
            class="qualitypatternmodel.execution.presentation.ExecutionEditor"
            contributorClass="qualitypatternmodel.execution.presentation.ExecutionActionBarContributor">
      </editor>
   </extension>

</plugin>
