<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.parameters.presentation.ParametersModelWizardID"
            name="%_UI_ParametersModelWizard_label"
            class="qualitypatternmodel.parameters.presentation.ParametersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ParametersModelFile.gif">
         <description>%_UI_ParametersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.parameters.presentation.ParametersEditorID"
            name="%_UI_ParametersEditor_label"
            icon="icons/full/obj16/ParametersModelFile.gif"
            extensions="parameters"
            class="qualitypatternmodel.parameters.presentation.ParametersEditor"
            contributorClass="qualitypatternmodel.parameters.presentation.ParametersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.operators.presentation.OperatorsModelWizardID"
            name="%_UI_OperatorsModelWizard_label"
            class="qualitypatternmodel.operators.presentation.OperatorsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OperatorsModelFile.gif">
         <description>%_UI_OperatorsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.operators.presentation.OperatorsEditorID"
            name="%_UI_OperatorsEditor_label"
            icon="icons/full/obj16/OperatorsModelFile.gif"
            extensions="operators"
            class="qualitypatternmodel.operators.presentation.OperatorsEditor"
            contributorClass="qualitypatternmodel.operators.presentation.OperatorsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.graphstructure.presentation.GraphstructureModelWizardID"
            name="%_UI_GraphstructureModelWizard_label"
            class="qualitypatternmodel.graphstructure.presentation.GraphstructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GraphstructureModelFile.gif">
         <description>%_UI_GraphstructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.graphstructure.presentation.GraphstructureEditorID"
            name="%_UI_GraphstructureEditor_label"
            icon="icons/full/obj16/GraphstructureModelFile.gif"
            extensions="graphstructure"
            class="qualitypatternmodel.graphstructure.presentation.GraphstructureEditor"
            contributorClass="qualitypatternmodel.graphstructure.presentation.GraphstructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.patternstructure.presentation.PatternstructureModelWizardID"
            name="%_UI_PatternstructureModelWizard_label"
            class="qualitypatternmodel.patternstructure.presentation.PatternstructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PatternstructureModelFile.gif">
         <description>%_UI_PatternstructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.patternstructure.presentation.PatternstructureEditorID"
            name="%_UI_PatternstructureEditor_label"
            icon="icons/full/obj16/PatternstructureModelFile.gif"
            extensions="patternstructure"
            class="qualitypatternmodel.patternstructure.presentation.PatternstructureEditor"
            contributorClass="qualitypatternmodel.patternstructure.presentation.PatternstructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlModelWizardID"
            name="%_UI_AdaptionxmlModelWizard_label"
            class="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptionxmlModelFile.gif">
         <description>%_UI_AdaptionxmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlEditorID"
            name="%_UI_AdaptionxmlEditor_label"
            icon="icons/full/obj16/AdaptionxmlModelFile.gif"
            extensions="adaptionxml"
            class="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlEditor"
            contributorClass="qualitypatternmodel.adaptionxml.presentation.AdaptionxmlActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.textrepresentation.presentation.TextrepresentationModelWizardID"
            name="%_UI_TextrepresentationModelWizard_label"
            class="qualitypatternmodel.textrepresentation.presentation.TextrepresentationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TextrepresentationModelFile.gif">
         <description>%_UI_TextrepresentationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.textrepresentation.presentation.TextrepresentationEditorID"
            name="%_UI_TextrepresentationEditor_label"
            icon="icons/full/obj16/TextrepresentationModelFile.gif"
            extensions="textrepresentation"
            class="qualitypatternmodel.textrepresentation.presentation.TextrepresentationEditor"
            contributorClass="qualitypatternmodel.textrepresentation.presentation.TextrepresentationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.adaptionrdf.presentation.AdaptionrdfModelWizardID"
            name="%_UI_AdaptionrdfModelWizard_label"
            class="qualitypatternmodel.adaptionrdf.presentation.AdaptionrdfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptionrdfModelFile.gif">
         <description>%_UI_AdaptionrdfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.adaptionrdf.presentation.AdaptionrdfEditorID"
            name="%_UI_AdaptionrdfEditor_label"
            icon="icons/full/obj16/AdaptionrdfModelFile.gif"
            extensions="adaptionrdf"
            class="qualitypatternmodel.adaptionrdf.presentation.AdaptionrdfEditor"
            contributorClass="qualitypatternmodel.adaptionrdf.presentation.AdaptionrdfActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.adaptionneo4j.presentation.Adaptionneo4jModelWizardID"
            name="%_UI_Adaptionneo4jModelWizard_label"
            class="qualitypatternmodel.adaptionneo4j.presentation.Adaptionneo4jModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Adaptionneo4jModelFile.gif">
         <description>%_UI_Adaptionneo4jModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.adaptionneo4j.presentation.Adaptionneo4jEditorID"
            name="%_UI_Adaptionneo4jEditor_label"
            icon="icons/full/obj16/Adaptionneo4jModelFile.gif"
            extensions="adaptionneo4j"
            class="qualitypatternmodel.adaptionneo4j.presentation.Adaptionneo4jEditor"
            contributorClass="qualitypatternmodel.adaptionneo4j.presentation.Adaptionneo4jActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.javaoperators.presentation.JavaoperatorsModelWizardID"
            name="%_UI_JavaoperatorsModelWizard_label"
            class="qualitypatternmodel.javaoperators.presentation.JavaoperatorsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JavaoperatorsModelFile.gif">
         <description>%_UI_JavaoperatorsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.javaoperators.presentation.JavaoperatorsEditorID"
            name="%_UI_JavaoperatorsEditor_label"
            icon="icons/full/obj16/JavaoperatorsModelFile.gif"
            extensions="javaoperators"
            class="qualitypatternmodel.javaoperators.presentation.JavaoperatorsEditor"
            contributorClass="qualitypatternmodel.javaoperators.presentation.JavaoperatorsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.javaquery.presentation.JavaqueryModelWizardID"
            name="%_UI_JavaqueryModelWizard_label"
            class="qualitypatternmodel.javaquery.presentation.JavaqueryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JavaqueryModelFile.gif">
         <description>%_UI_JavaqueryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.javaquery.presentation.JavaqueryEditorID"
            name="%_UI_JavaqueryEditor_label"
            icon="icons/full/obj16/JavaqueryModelFile.gif"
            extensions="javaquery"
            class="qualitypatternmodel.javaquery.presentation.JavaqueryEditor"
            contributorClass="qualitypatternmodel.javaquery.presentation.JavaqueryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qualitypatternmodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qualitypatternmodel.javaqueryoutput.presentation.JavaqueryoutputModelWizardID"
            name="%_UI_JavaqueryoutputModelWizard_label"
            class="qualitypatternmodel.javaqueryoutput.presentation.JavaqueryoutputModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JavaqueryoutputModelFile.gif">
         <description>%_UI_JavaqueryoutputModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qualitypatternmodel -->
      <editor
            id="qualitypatternmodel.javaqueryoutput.presentation.JavaqueryoutputEditorID"
            name="%_UI_JavaqueryoutputEditor_label"
            icon="icons/full/obj16/JavaqueryoutputModelFile.gif"
            extensions="javaqueryoutput"
            class="qualitypatternmodel.javaqueryoutput.presentation.JavaqueryoutputEditor"
            contributorClass="qualitypatternmodel.javaqueryoutput.presentation.JavaqueryoutputActionBarContributor">
      </editor>
   </extension>

</plugin>
